<head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.css">
</head>
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Categories </h2>
            <p>Add, edit or delete a category</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form action="/admin/categories" method="post">
                        <div class="mb-4">
                            <label for="name" class="form-label">Category Name</label>
                            <input type="text" placeholder="Type here" class="form-control" name="category"/>
                        </div>
                        <!-- <div class="mb-4">
                            <label class="form-label">Parent Category</label>
                            <% for(var i = 0;i< parentData.length; i++) {%>
                            <select name="parent" class="form-select"></select>
                            
                            
                                <option><%=parentData[i].category%></option>
                                
                                <%}%>
                            </select>
                           
                        </div> -->
                        <div class="mb-4">
                            <label class="form-label">Parent Category</label>
                            <% for (var i = 0; i < parentData.length; i++) { %>
                              <div>
                                <input type="radio" name="parent" id="parent_<%= i %>" value="<%= parentData[i].category %>">
                                <label for="parent_<%= i %>"><%= parentData[i].category %></label>
                              </div>
                            <% } %>
                          </div>
                          
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Create category</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Category Name</th>
                                    <th>Parent Category</th>
                                    <th>Action</th>
                                    <th class="text-end"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 0;i< categories.length; i++) {%>
                                <tr>
                                    <td><%= i+1 %></td>
                                    <td><%= categories[i].category %></td>
                                    <td><%= categories[i].parent %></td>
                                    <td>
                                        <div>
                                            <a class="text-primary" href="/admin/categories/edit/<%= categories[i].id%>" onclick="return confirm('Are sure to Edit the <%= categories[i].category %> category' )">Edit</a>
                                           
                                        </div>
                                    </td>
                                    <td><div>
                                        
                                        <a class="text-danger" href="/admin/categories/delete/<%= categories[i].id%>" onclick="return confirm('Are sure to delete the <%= categories[i].category %> category' )">Delete</a>
                                        <!-- <a class="text-danger" href="/admin/categories/delete/<%= categories[i].id%>"
                                            onclick="event.preventDefault();
                                                     console.log('Clicked delete for category:'); 
                                                     swal({
                                                         title: 'Are you sure?',
                                                         text: 'You are about to delete the <%= categories[i].category %> category',
                                                         icon: 'warning',
                                                         buttons: ['Cancel', 'Delete'],
                                                         dangerMode: true,
                                                     }).then((willDelete) => {
                                                         if (willDelete) {
                                                             window.location.href = '/admin/categories/delete/<%= categories[i].id%>';
                                                         } else {
                                                             swal('The <%= categories[i].category %> category is safe!');
                                                         }
                                                     });">Delete</a>
                                          -->
                                         
                                          
                                    </div></td>
                                </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                </div> <!-- .col// -->
            </div> <!-- .row // -->
        </div> <!-- card body .// -->
    </div> <!-- card .// -->
</section> <!-- content-main end// -->

