<head>
    <!-- Include the SweetAlert CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.css">

<!-- Include the SweetAlert JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.js"></script>

</head>
<div class="slider-area">
    <div class="slider-active swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="intro-section slider-height-1 slider-content-center bg-img single-animation-wrap slider-bg-color-3" style="background-image:url(assets/images/slider/lap3.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 hm2-slider-animation">
                                <div class="slider-content-2 slider-animated-3">
                                    <h3 class="animated">Up To 40% Off</h3>
                                    <h1 class="animated">Diwali <br>Sales & Exclusive Offers</h1>
                                    <div class="slider-btn-2 btn-hover">
                                        <a href="/shop" class="btn hover-border-radius theme-color animated">
                                            Shop Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="intro-section slider-height-1 slider-content-center bg-img single-animation-wrap slider-bg-color-3" style="background-image:url(assets/images/slider/myslide.jpg)">
                    <div class="container">
                        <div class="row">
                            
                            <div class="col-12 hm2-slider-animation">
                                <div class="slider-content-2 slider-animated-3">
                                    <h3 class="animated">Up To 40% Off</h3>
                                    <h1 class="animated">Summer <br>Discount Sales</h1>
                                    <div class="slider-btn-2 btn-hover">
                                        <a href="/product" class="btn hover-border-radius theme-color animated">
                                            Shop Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-slider-prev2 main-slider-nav2"><i class="fa fa-angle-left"></i></div>
            <div class="home-slider-next2 main-slider-nav2"><i class="fa fa-angle-right"></i></div>
        </div>
    </div>
</div>

<div class="banner-area pt-50 pb-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="banner-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                    <a href="#"><img src="assets/images/banner/laptop1.jpg" alt=""></a>
                    
                    <div class="banner-content-5">
                        <span>Up To 40% Off</span>
                        <h2>Mobile Accessories</h2>
                        <div class="btn-style-3 btn-hover">
                            <a class="btn hover-border-radius" href="/products">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- <div class="col-lg-6 col-md-6 col-12">
                <div class="banner-wrap mb-30" data-aos="fade-up" data-aos-delay="400">
                    <a href="#"><img src="assets/images/banner/2232195.jpg" alt="banner-2"></a>
                    <div class="banner-content-5">
                        <span>Up To 40% Off</span>
                        <h2>Laptop Accessories</h2>
                        <div class="btn-style-3 btn-hover">
                            <a class="btn hover-border-radius" href="/product">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>

<div class="banner-area pt-50 pb-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="banner-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                    <a href="/"><img src="assets/images/banner/lapp.jpg" alt=""></a>
                    <div class="banner-content-5">
                        
                        <h2 class="text-primary">Laptops</h2>
                        <div class="btn-style-3 btn-hover">
                            <a class="btn hover-border-radius" href="/shop">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="banner-wrap mb-30" data-aos="fade-up" data-aos-delay="400">
                    <a href="/"><img src="assets/images/banner/samsungs22.jpg" alt=""></a>
                    
                    <div class="banner-content-5">
                       
                        <h2 class="text-primary">Mobiles</h2>
                        <div class="btn-style-3 btn-hover">
                            <a class="btn hover-border-radius" href="/shop">Shop Now</a>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>











<div class="service-area pb-65">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="service-wrap-2 text-center mb-30" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-img-2">
                        <img src="assets/images/icon-img/car.png" alt="">
                    </div>
                    <div class="service-content-2">
                        <h3>Free Shipping</h3>
                        <p>Lorem ipsum dolor sit amet conse adipisicing elit sed do.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="service-wrap-2 text-center mb-30" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-img-2">
                        <img src="assets/images/icon-img/time.png" alt="">
                    </div>
                    <div class="service-content-2">
                        <h3>Support 24/7</h3>
                        <p>Lorem ipsum dolor sit amet conse adipisicing elit sed do.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="service-wrap-2 text-center mb-30" data-aos="fade-up" data-aos-delay="600">
                    <div class="service-img-2">
                        <img src="assets/images/icon-img/dollar.png" alt="">
                    </div>
                    <div class="service-content-2">
                        <h3>Money Return</h3>
                        <p>Lorem ipsum dolor sit amet conse adipisicing elit sed do. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="service-wrap-2 text-center mb-30" data-aos="fade-up" data-aos-delay="800">
                    <div class="service-img-2">
                        <img src="assets/images/icon-img/discount.png" alt="">
                    </div>
                    <div class="service-content-2">
                        <h3>Order Discount</h3>
                        <p>Lorem ipsum dolor sit amet conse adipisicing elit sed do.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-area pb-95">
    <div class="container">
        <div class="section-border section-border-margin-1" data-aos="fade-up" data-aos-delay="200">
            <div class="section-title-timer-wrap bg-white">
                <div class="section-title-1">
                    <h2>Deal Of The Day</h2>
                </div>
                <div id="timer-1-active" class="timer-style-1">
                    <span>End In: </span>
                    <div data-countdown="2021/8/30"></div>
                </div>
            </div>
        </div>
        <div class="product-slider-active-1 swiper-container">
            <div class="swiper-wrapper">
                <%for(var i = 0;i<productsData.length;i++){%>
                <div class="swiper-slide">
                    
                    <div class="product-wrap" data-aos="fade-up" data-aos-delay="200">
                        <div class="product-img img-zoom mb-25">
                            <a href="/products/<%=productsData[i].id%>">
                                <img src="\<%=productsData[i].images[0].path%>"  style="width: 200px; height: auto; display: block; margin: 0 auto;" alt="">
                            </a>
                            
                            <div class="product-action-wrap">
                                <form action="/add_to_wishlist/<%=productsData[i].id%>" method="post">
                                <button type="submit" class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                            </form>
                                <!-- <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal"> -->
                                    <!-- <i class="pe-7s-look"></i> -->
                                <!-- </button> -->
                            </div>
                            <!-- <div class="product-action-2-wrap">
                                <button type="button" class="product-action-btn-2" title="Add To Cart" onclick="document.getElementById('addtocart').submit(), Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: 'Item Added Successfully To Cart',
                                    showConfirmButton: false,
                                    timer: 2000
                                  })"><i class="pe-7s-cart"></i> Add to cart</button>
                            </div> -->
                        </div>
                        <div class="product-content">
                            <h3><a href="/products/<%=productsData[i].id%>"><%= productsData[i].itemName%></a></h3>
                            <div class="product-price">
                                
                                <span class="new-price">₹ <%=productsData[i].price%></span>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>
                
            </div>
            <div class="product-prev-1 product-nav-1" data-aos="fade-up" data-aos-delay="200"><i class="fa fa-angle-left"></i></div>
            <div class="product-next-1 product-nav-1" data-aos="fade-up" data-aos-delay="200"><i class="fa fa-angle-right"></i></div>
        </div>
    </div>
</div>
<script>
function addtocart(proId) {
    $.ajax({
      url: '/add_to_cart/' + proId,
      method: 'get',
      success: (response) => {
        window.location.href='/view_cart';
      },
    });
  }
</script>