

<div class="shop-area shop-page-responsive pt-100 pb-100">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <div class="shop-topbar-wrapper mb-40">
                    <div class="shop-topbar-left">
                        <div class="showing-item">
                            
                            
                        </div>
                    </div>
                  
                </div>
                <div class="shop-bottom-area">
                    <div class="tab-content">
                        <% if (product) { %>
                        <div id="shop-2" class="tab-pane active">
                            
                            <div class="shop-list-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-5">
                                        <div class="product-list-img">
                                            <a href="/products/<%=product.id%>">
                                                <img src="\<%=product.images[0].path%>" alt="Product Style">
                                            </a>
                                            <div class="product-list-badge badge-right badge-pink">
                                                
                                            </div>
                                            <!-- <div class="product-list-quickview">
                                                <button class="product-action-btn-2" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    <i class="pe-7s-look"></i>
                                                </button>
                                            </div> -->
                                        </div>
                                    </div>
                                   
                                    <div class="col-lg-8 col-sm-7">
                                        <div class="shop-list-content">
                                            <h3><a href="/products/<%=product.id%>"><%= product.itemName%></a></h3>
                                            <div class="product-price">
                                                
                                                <span class="new-price">₹ <%=product.price%></span>
                                            </div>
                                            <p><%=product.description%>.</p>
                                            <div class="product-list-action">
                                                <!-- <button class="product-action-btn-3" title="Add to cart"><i class="pe-7s-cart"></i></button> -->
                                                <!-- <form action="/add_to_wishlist/<%=product%>">
                                                <button type="submit" class="product-action-btn-3" title="Wishlist"><i class="pe-7s-like"></i></button>
                                            </form> -->
                                                <!-- <button class="product-action-btn-3" title="Compare"><i class="pe-7s-shuffle"></i></button> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                            
                            <!-- <div class="pagination-style-1" data-aos="fade-up" data-aos-delay="200">
                                <ul>
                                    <li><a class="active" href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a class="next" href="#"><i class=" ti-angle-double-right "></i></a></li>
                                </ul>
                            </div> -->
                        </div>
                        <% } else { %>
                       
                      <strong>  <h4>No products to match your query  !!</h4></strong>
                        <!-- <img src="assets/images/banner/no-wishlist.png" alt="image"> -->
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="sidebar-wrapper">
                    <div class="sidebar-widget mb-40" data-aos="fade-up" data-aos-delay="200">
                        <!-- <div class="search-wrap-2">
                            <form class="search-2-form" action="#">
                                <input placeholder="Search*" type="text">
                                <button class="button-search"><i class=" ti-search "></i></button>
                            </form>
                        </div> -->
                    </div>
                    <div class="sidebar-widget sidebar-widget-border mb-40 pb-35" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-widget-title mb-30">
                            <h3>Filter By Price</h3>
                        </div>
                        <div class="price-filter">
                            <div id="slider-range"></div>
                            <div class="price-slider-amount">
                                <div class="label-input">
                                    <label>Price:</label>
                                    <input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                </div>
                                <button type="button">Filter</button>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget sidebar-widget-border mb-40 pb-35" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-widget-title mb-25">
                            <h3>Product Categories</h3>
                        </div>
                        <div class="sidebar-list-style">
                            <ul>   <form action="/category" method="POST">
  
                              <div>
                                  <% for (var i = 0; i < parentData.length; i++) { %>
                                    <li>
                                      <button style="background-color: rgba(249, 105, 8, 0.772); color: white; border:none;" type="submit" name="category" value="<%= parentData[i].category %>">
                                        <%= parentData[i].category %>
                                        <span></span>
                                      </button>
                                    </li>
                                  <% } %>
                                </div>
                                
  
                               
                              </form>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="sidebar-widget sidebar-widget-border mb-40 pb-35" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-widget-title mb-25">
                            <h3>Choose Colour</h3>
                        </div>
                        <div class="sidebar-widget-color sidebar-list-style">
                            <ul>
                                <li><a class="black" href="#">Black <span>4</span></a></li>
                                <li><a class="blue" href="#">Blue <span>9</span></a></li>
                                <li><a class="brown" href="#">Brown <span>5</span></a></li>
                                <li><a class="red" href="#">Red <span>3</span></a></li>
                                <li><a class="orange" href="#">Orange <span>4</span></a></li>
                            </ul>
                        </div>
                    </div> -->
                    <!-- <div class="sidebar-widget sidebar-widget-border mb-40 pb-35" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-widget-title mb-25">
                            <h3>Size</h3>
                        </div>
                        <div class="sidebar-widget-size sidebar-list-style">
                            <ul>
                                <li><a href="#">XL <span>4</span></a></li>
                                <li><a href="#">M <span>9</span></a></li>
                                <li><a href="#">LM <span>5</span></a></li>
                                <li><a href="#">L <span>3</span></a></li>
                                <li><a href="#">ML <span>4</span></a></li>
                            </ul>
                        </div>
                    </div> -->
                    <!-- <div class="sidebar-widget" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-widget-title mb-25">
                            <h3>Tags</h3>
                        </div>
                        <div class="sidebar-widget-tag">
                            <a href="#">All, </a>
                            <a href="#">Clothing, </a>
                            <a href="#"> Kids, </a>
                            <a href="#">Accessories, </a>
                            <a href="#">Stationery, </a>
                            <a href="#">Homelife, </a>
                            <a href="#">Appliances, </a>
                            <a href="#">Clothing, </a>
                            <a href="#">Baby, </a>
                            <a href="#">Beauty </a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

